*
!/alacritty/
!/alacritty/*
!/lazydocker/
!/lazydocker/*
!/lazygit/
!/lazygit/*
!/nvim/
!/nvim/*
!/sway/
!/sway/*
!/tmux/
!/tmux/*
!/yarn/
!/yarn/global/
!/yarn/global/package.json
!/yarn/global/yarn.lock
!/zsh/
!/zsh/*
!/README.md
!/.gitignore
!/waybar/
!/waybar/*
