*
!/alacritty/
!/alacritty/*
!/alacritty/themes/
!/alacritty/themes/*
!/lazydocker/
!/lazydocker/*
!/lazygit/
!/lazygit/*
!/nvim/
!/nvim/**/*
!/sway/
!/sway/*
!/tmux/
!/tmux/*
!/yarn/
!/yarn/global/
!/yarn/global/package.json
!/yarn/global/yarn.lock
!/zsh/
!/zsh/*
!/README.md
!/.gitignore
!/waybar/
!/waybar/*
!/pop-shell/
!/pop-shell/*
!/kanshi/
!/kanshi/*
