[Desktop Entry]
Version=1.0
Type=Application
Name=Connect AirPods Pro
Comment=Connects to Jacob's AirPods Pro with Bluetooth
Terminal=true
Exec=/home/jacob/.config/fuzzel/airpods.sh
